extends layout

block meta
    meta(name='title', content=config.title)
    meta(name='description', content=config.description)
    meta(name='keywords', content=config.keywords)
    meta(name='robots', content='index, follow')
    meta(name='og:title', content=config.title)
    meta(name='og:description', content=config.description)
    meta(name='og:image', content=config.image)
    meta(name='og:url', content=config.url)
    meta(name='og:type', content='website')
    meta(name='og:site_name', content=config.title)

block body
    body
        iframe(src=config.url, frameborder="0", width="100%", height="100%") 